<div class="container  ">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center col-6 col-sm-6 mt-5">
      <img style="width:100%" src="../../../assets/images/img17.png" alt="" />
      <h4 class="my-3 p-2">
        Please verify your email address we have send you an email from
        verify@smartcodehub.com
      </h4>
      <button (click)="resendEmail()" color="primary" mat-raised-button>
        Resend Verification email
      </button>
    </div>
  </div>
</div>
