<div class="container-fluid">
  <div style="min-height: 89.7vh;" class=" row p-3">
    <div
      class="col-lg-5  mt-3 col-md-6 col-sm-12 align-content-center justify-content-start row "
    >
      <div class=" home-lead px-2">
        <img src="../../assets/images/Copy of 200px _ 50px.png" alt="" />

        <h6 class="home-headline mt-3 text-left">
          Smartcodehub is a Online software as a service platform for creating
          Rest APIs and connecting them with back end Mongodb(for now ). Built
          on top of Express, you can generate data model definition directly
          from your browser and easily generate a fully functional dynamic
          end-to-end REST APIs that can be called by any client
        </h6>
      </div>
    </div>
    <div
      class="col-lg-7 px-1 col-md-6 col-sm-12  row align-content-center justify-content-end"
    >
      <!-- <div
        class="col-11"
        mat-card-image
        plyr
        plyrTitle="Video from Vimeo"
        [plyrSources]="vimeoSources"
      ></div> -->
    </div>
  </div>
</div>
